div {
    margin-top : 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color : rgb(189, 182, 182);
    text-shadow: 0px 0px 20px black;
}

input {

    border : 1px solid black;
    border-radius: 5px;
    padding : 10px;
    width : 220px;

}

input:focus{
    box-shadow: 0px 0px 15px white;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width : 150px;
  }

  button {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px black;
  }
  
  button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 0px 20px black;
  }
